

.caret{
    float: left;
    width: 20px;
    line-height: 30px;
    margin-left: -30px;
}

app-blocks{
    height: auto;
}

.type{
    float: left;
    color: #6d016d;
    opacity: 0.5;
    font-weight: bold;
}

.containerButton{
    float: right;
    width: 70px;
}

.htmlContent{
    float: left;
    color: black;
    font-size: 13px;
    font-family: lato;
    padding-right: 15px;
}

.idBlock{
    float: left;
    color: #d88c00;
    opacity: 0.5;
    font-weight: bold;
}

.proprietes{
    float: left;
}

.className{
    color: #d88c00;
    float: left;
    opacity: 0.5;
    width: auto;
    text-align: left;
    font-weight: bold;
    text-indent: 10px;
}

.insert_block{
    margin-right: 0px;
    float: right;
    min-height: 50px;
    margin-top: -5px;
    position: absolute;
}

.addDivInside{
    float: left;
    font-size: 14px;
    text-align: center;
    width: 30px;
    line-height: 30px;
}

.addDivInside i{
    float: left;
    text-align: center;
    width: 20px;
    text-indent: 0px;
    line-height: 30px;
}

.removeDiv{
    float: left;
    font-size: 15px;
    text-align: left;
    width: 30px;
    line-height: 24px;
}

.removeDiv i{
    float: left;
    text-align: center;
    width: 20px;
    text-indent: 0px;
    line-height: 30px;
}

.removeDiv:hover {
    cursor: pointer;
}

.caret{
    float: left;
    width: 20px;
    line-height: 30px;
}

.addDivInside:hover{
    cursor: pointer;
}

.plus{
    float: right;
    width: 223px;
    line-height: 30px;
    margin-left: 425px;
    background-color: #FFF;
    border-radius: 2px;
    position: absolute;
    opacity: 1;
    z-index: 2;
    border: 1px solid #cacaca;
    -webkit-box-shadow: 0px 1px 1px 1px #f1f1f1;
    box-shadow: 0px 1px 1px 1px #f1f1f1;
    margin-top: 12px;
}

.plus:hover{
    cursor: pointer;
}

.plus-right{
    float: left;
    width: 225px;
    text-align: left;
    text-indent: 15px;
}

.plus-down{
    float: left;
    width: 225px;
    border-bottom: 1px solid #fbfbfb;
    text-align: left;
    text-indent: 15px;
}

.first-block{
    float: left;
    width: 780px;
    min-height: 30px;
    line-height: 30px;
    margin-left: 40px;
    margin-top: 2px;
    text-indent: 15px;
    color: #4e4e4e;
    font-family: lato;
    font-size: 13px;
}

.second-block{
    float: left;
    width: 770px;
    min-height: 30px;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 2px;
    text-indent: 15px;
    color: #4e4e4e;
    font-family: lato;
    font-size: 13px;
    border-left: 1px solid #eaeaea;
}

.third-block{
    float: left;
    width: 739px;
    min-height: 30px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 2px;
    text-indent: 15px;
    color: #4e4e4e;
    font-family: lato;
    font-size: 13px;
    border-left: 1px solid #eaeaea;
}

.for-block{
    float: left;
    width: 708px;
    min-height: 30px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 2px;
    text-indent: 15px;
    color: #4e4e4e;
    font-family: lato;
    font-size: 13px;
    border-left: 1px solid #eaeaea;
}

.five-block{
    float: left;
    width: 677px;
    min-height: 30px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 2px;
    text-indent: 15px;
    color: #4e4e4e;
    font-family: lato;
    font-size: 13px;
    border-left: 1px solid #eaeaea;
}

.first-block .plus{
    margin-left: 490px;
}

.second-block .plus{
    margin-left: 459px;
}
.third-block .plus{
    margin-left: 428px;
}

.for-block .plus{
    margin-left: 397px;
}

.five-block .plus{
    margin-left: 366px;
}