

  <ng-container *ngFor="let block of blocks"  (click)="clickbody(blocks)">

      <ng-container *ngIf="afficherDiv(block)">

      <div [ngClass]="defineClass(block.niveau)" id="{{ block.niveau }}" (click)=bindCss(block.css)>

      <span class="caret"><fa name="caret-right"></fa></span>

        <span class="type"><{{ block }}</span>
        <span class="className">class="{{ block.className }}"</span>
        <span class="idBlock">id="{{ block.idBlock }}"></span>
        <span class="htmlContent" contenteditable="true" [(ngModel)]="block.block.htmlContent" (focusout)="changeContent(block.id, block.block)">{{ block.htmlContent }}</span>
        <!--<span class="type"><{{ block.type }}></span>-->

      <div class="containerButton">
          <span class="removeDiv" (click)="removeDiv(block.id)">
            <i class="fa fa-trash"></i>
          </span>

          <span class="addDivInside" (click)="addDiv(block)">
              <i class="fa fa-plus-square"></i>
          </span>
      </div>

    <div class="insert_block" [hidden]='block.insertHide'>
        <span class="plus">
          <span class="plus-down" (click)="ajouterdivdedans(block.className, block.niveau, block.idBlock)">
            Insérer un block à l'interieur
          </span>
          <span class="plus-right" (click)="ajouterdivendessous(block.className, block.niveau, block.idBlock)">
            Insérer un block en dessous
          </span>
        </span>
      </div>

      <app-blocks *ngIf="blocks2[block.niveau]" [blocks]="blocks2[block.niveau]" [blocks2]="blocks2" [imbricate]="imbricate"></app-blocks>

      </div>

  </ng-container>

  </ng-container>

<ng-template #noBlocks>
  <hr>
  <h5>Il n'y a aucun block dans votre template</h5>
</ng-template>