<div class="html-block">
  <div class="title">

  </div>
  
  <div *ngFor="let block of blocks | orderBy : 'niveau'" [ngClass]="defineClass(block.niveau)" id="{{ block.niveau }}" (click)=bindCss(block.css)>

      <span class="caret"><fa name="caret-right"></fa></span>

        <span class="type"><{{ block.type }}</span>
        <span class="className">class="{{ block.className }}"</span>
        <span class="idBlock">id="{{ block.idBlock }}"></span>
        <span class="htmlContent" contenteditable="true" [(ngModel)]="block.htmlContent" (ngModelChange)="changeContent(block)">{{ block.htmlContent }}</span>
        <span class="type"><{{ block.type }}></span> 
        <span class="plus">
          <span class="plus-down" (click)="ajouterdivdedans(block.className, block.niveau, block.idBlock)">
            <fa name="arrow-down"></fa>
          </span>
          <span class="plus-right" (click)="ajouterdivendessous(block.className, block.niveau, block.idBlock)">
            <fa name="arrow-right"></fa>
          </span>
        </span>
  </div>

</div>

<ng-template #noBlocks>
  <hr>
  <h5>Il n'y a aucun block dans votre template</h5>
</ng-template>